<div class="col-md-6 col-md-offset-3">
	<div class="user-list">
		<h1>User List (<%= @users.count %>)
	  	<div class="pull-right"><%= button_to "Add New User", new_user_path, class: "btn btn-default", :method => :get %></div>
	  </h1>
		<div class="list-group">
			<% @users.each_with_index do |user, index| %>

					<%= link_to "#{index + 1}. #{user.name} (#{@userStats[user.id][1]}W #{@userStats[user.id][0]}L)", user_path(user.id), { class: "list-group-item" } %>

					<% unless @winRate.nil? %>
						<div class="progress">
					  		<div class="progress-bar" role="progressbar" aria-valuenow="<%= @winRate[user.id] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @winRate[user.id]%>%;">
					    		<%= @winRate[user.id] %>%
					 	 	</div>
						</div>
					<% end %>

			<% end %>
		</div>
	</div>
</div>
