<div class="list-group">
	<table class="table">
		<% matches.each do |match| %>
			<tr>
				<td align="right"><%= link_to "#{match.winner.name}", match.winner %></td>
				<td align="center"><%= image_tag "character-thumb/#{match.wcharacter.imagename}.png" %></td>
				<td align="center"><%= "#{match.winner_stock}" %></td>
				<td align="center"><%= image_tag "character-thumb/#{match.lcharacter.imagename}.png" %></td>
				<td align="left"><%= link_to "#{match.loser.name}", match.loser %></td>
				<!-- <td><%= "#{time_ago_in_words(match.created_at)} ago"%></td> -->
			</tr>
		<% end %>
	</table>
</div>