<%= render 'shared/error_messages', object: f.object %>
<div class="form-group">
	<%= f.label :winner_id, "Winner" %>
	<% if @match.errors[:winner_and_loser].any? %>
		<div class="has-error">
	<% else %>
		<div>
	<% end %>
			<%= select_tag(:winner_id, options_for_select(users_hash(@users), @match.winner_id), {class: "form-control"}) %>
		</div>
</div>
<div class="form-group">
	<%= f.label :wcharacter_id, "Winner's Character" %>
	<%= select_tag(:wcharacter_id, options_for_select(character_hash(@characters), @match.wcharacter_id), {class: "form-control"}) %>
</div>
<div class="form-group">
	<%= f.label :winner_stock, "Winner's Stock remaining" %>
	<%= select_tag(:winner_stock, options_for_select(stock_hash, @match.winner_stock), {class: "form-control"}) %>
</div>
<div class="form-group">
	<%= f.label :loser_id, "Loser" %>
	<% if @match.errors[:winner_and_loser].any? %>
		<div class="has-error">
	<% else %>
		<div>
	<% end %>
			<%= select_tag(:loser_id, options_for_select(users_hash(@users), @match.loser_id), {class: "form-control"}) %>
		</div>
</div>
<div class="form-group">
	<%= f.label :lcharacter_id, "Loser's Character" %>
	<%= select_tag(:lcharacter_id, options_for_select(character_hash(@characters), @match.lcharacter_id), {class: "form-control"}) %>
</div>
<div class="form-group">
  <%= f.submit "Add Match", class: "btn btn-primary" %>
</div>
